<div class="hero-unit"
<h1>welcome to my rails project</h1>
<p>
check out the class: <%= link_to "one month rails", "http://www.onemonthrails.com" %>
</p>
<p>
<%= link_to "sign up", "#", class: "btn btn-primary btn-large" %>
</p>
</div>